{% extends "SubliApp/layout.html" %}
{% load static%}

 {% block content %}



<!-- Main content section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <img class="img-fluid" src="https://scontent.fgdl9-1.fna.fbcdn.net/v/t39.30808-6/326136811_1618862245216353_3122898059102580672_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=NSoTIsvt8ggAX-6-sDt&_nc_ht=scontent.fgdl9-1.fna&oh=00_AfCCHG4IhZPNWSxuVObnxVIc2MwbhGAfEhTH7qQfK-MJ0w&oe=644A0671" alt="">
      </div>
      <div class="col-md-6">
        <h2>Personaliza tus prendas con Sublimaciones XYZ</h2>
        <p class="lead mb-5">En Sublimaciones XYZ te ofrecemos la mejor calidad en sublimación de prendas con diseños únicos y personalizados para ti.</p>
        <a class="btn btn-primary btn-lg" href="contacto.html">Contáctanos</a>
      </div>
    </div>
  </div>
</section>

<!-- Services section -->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="https://scontent.fgdl9-1.fna.fbcdn.net/v/t39.30808-6/317981229_2182064181981048_7036346875561904486_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=yN2N0ftUcIkAX9FKEVO&_nc_ht=scontent.fgdl9-1.fna&oh=00_AfDA07bIDKz7mTY3Bz66FHetTbZwev16cKkci_KRmH781w&oe=644A2308" alt="">
          <div class="card-body">
            <h4 class="card-title">Alta calidad</h4>
            <p class="card-text">Utilizamos la mejor tecnología para asegurarnos de que tus prendas queden con la mejor calidad posible.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="https://scontent.fgdl9-1.fna.fbcdn.net/v/t39.30808-6/328343014_914350596229145_2476495838606559217_n.jpg?stp=cp6_dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=agqIdcPvvqkAX_YAKv4&_nc_ht=scontent.fgdl9-1.fna&oh=00_AfAPSOoLw_OuyP3_sDlCeQ36IEnuSkcoLauJF0AdeECgOw&oe=6449D191" alt="">
          <div class="card-body">
            <h4 class="card-title">Diseños exclusivos</h4>
            <p class="card-text">Nuestros diseñadores crean diseños únicos y personalizados para que tengas prendas únicas.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" src="{% static 'SubliApp/img/sl2.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Envío seguro</h4>
            <p class="card-text">Enviamos tus prendas de forma segura y garantizada para que lleguen en perfectas condiciones.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact section -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Contáctanos</h2>
        <p class="lead mb-5">Si tienes alguna duda o quieres hacer un pedido personalizado, ¡contáctanos!</p>
        <ul class="list-unstyled">
          <li><i class="fas fa-map-marker-alt fa-lg mr-2"></i>Calle Falsa #123, Ciudad Ficticia</li>
          <li><i class="fas fa-phone fa-lg mr-2"></i>(123) 456-7890



  {% endblock %}