{% extends "Suscripcion/layout.html" %}
{% load static%}
{% block content %}

<div class="contenedorFormulario">
    {% if "envion" in request.GET %}

    <p style="color: aliceblue;">Se envio la información</p>

    {% endif %}
    <form action="" method="POST"  style="text-align: center;">
        {% csrf_token %} 
        <table style="color:aliceblue;margin: 20px auto;">{{miFormulario}}</table>
        <input type="submit" value="Enviar" style="width: 150px;">
    </form>   
</div>

{% endblock %}